<div class="container">
  <div class="row">
    <div class="col-6">
      <div id="notice"><%= notice %></div>
      <ul class="list-group" style="margin: 50px 0;">
        <li class="list-group-item">
          <strong>Chef d'équipe: </strong><%= @team.leader %>
        </li>

        <li class="list-group-item">
          <strong>Adresse Email: </strong><%= @team.email %>
        </li>

        <li class="list-group-item">
          <strong>Numéro de téléphone: </strong><%= @team.phone %>
        </li>

        <li class="list-group-item">
          <strong>CIN: </strong><%= @team.cin %>
        </li>

        <li class="list-group-item">
          <strong>Compétition: </strong><%= @team.contest %>
        </li>

        <li class="list-group-item">
          <strong>Date: </strong><%= @team.date %>
        </li>

        <li class="list-group-item">
          <strong>Robot: </strong><%= @team.robot %>
        </li>

        <li class="list-group-item">
          <strong>Établissement: </strong><%= @team.university %>
        </li>

        <li class="list-group-item">
          <strong>Membre 2: </strong><%= @team.member1 %>
        </li>

        <li class="list-group-item">
          <strong>Membre 3: </strong><%= @team.member2 %>
        </li>

        <li class="list-group-item">
          <strong>Membre 4: </strong><%= @team.member3 %>
        </li>

        <li class="list-group-item">
          <strong>Membre 5: </strong><%= @team.member4 %>
        </li>

        <li class="list-group-item">
          <strong>Membre 6: </strong><%= @team.member5 %>
        </li>

        <li class="list-group-item">
          <strong>Membre 7: </strong><%= @team.member6 %>
        </li>

        <li class="list-group-item">
          <strong>Membre 8: </strong><%= @team.member7 %>
        </li>

        <li class="list-group-item">
          <strong>Active: </strong><%= @team.active %>
        </li>
        <li class="list-group-item">
          <strong>Payment: </strong><%= @team.payment_proof.url %>
        </li>
      </ul>
    </div>
    <div class="col-4">
    </div>
  </div>
</div>
